@model DirectorModel
@{
    ViewBag.Title = "Create New Director";
}

<h2>Create New Director</h2>

@Html.Partial("_CreateEdit", Model)
<div>
    @Html.ActionLink("Back to director List", "Index")
</div>

@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        console.log("Create New Director");</script>
}