@model DirectorModel
 
@{ 
    ViewBag.Title = "Delete Director";

}
<h2>ViewData["Title"]</h2>
<h3>Are you sure you want to delete this?</h3>

<div>
    @Html.Partial("_Details", Model);

    @using (Html.BeginForm())
     {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.Id)

    <div>
        <input type="submit" value="Yes" class="btn btn-outline-danger" />
        &nbsp;&nbsp;&nbsp;
        @Html.ActionLink("No", "Index", null, new { @class = "btn btn-outline-warning" })

    </div>
      }
</div>