@model DirectorModel
    @{ 
        ViewBag.Title = "Director Details";
    }
<h2>Director Details</h2>
<div>
    @Html.Partial("_Details", Model)
</div>
<p>
    @Html.ActionLink("Edit","Edit", new { id = Model.Id}) |
    @Html.ActionLink("Back to Director List", "Index")
</p>