@model List<Movie>
@{
    ViewBag.Title = "Movies";
}
@*<h2>Movies</h2>*@

 <h2>@ViewBag.Title</h2>



<table class="table">
    <tr>
        @*Amaç film bilgilerini göstermek*@
        <th>Name</th>  
        <th>Production Year</th>
        <th>Box Office Return</th>
    </tr>
    @foreach (Movie movie in Model)
    { 
        <tr>
            <td>
                @movie.Name
            </td>
            <td>
                @movie.ProductionYear
            </td>
            <td>
                @movie.BoxOfficeReturn
            </td>
        </tr>

    }
</table>