@{ 
    ViewBag.Title = "Welcome";
}

@if(User.Identity.IsAuthenticated)
            {
                <div class="jumbotron"><h4>Welcome @User.Identity.Name to Movies!</h4></div>
}
else
            {
                <div class="jumbotron"><h4>Welcome to movies!</h4></div>
            }