@{ 
    ViewBag.Title = "Welcome";
}

@if(User.Identity.IsAuthenticated)
            {
                <div class="jumbotron"><h1>Welcome @User.Identity.Name to Movies!</h1></div>
}
else
            {
                <div class="jumbotron"><h1>Welcome to movies!</h1></div>
            }